@import 'fonts';
@import 'mixins';
@import 'variables';

#slider{
  background: url('assets/slider-bg.jpg') repeat-x;
  .content{
    padding:0px;
  }
}

#slider.light{
  background: white;
}

.v6, .v9{

  h1{
    font-family: 'BarclaycardCoLtRegular', tahoma, sans-serif; 
    color: white;
    font-size: 2.5em;
    line-height: 1.2;
    width: 430px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .oneByOne1{
    overflow:visible;
  }

  .slide1 h1,
  .slide2 h1{
    float: left;
  }
.arrowButton{
    .prevArrow{
      background: url('assets/left_arrow.png') no-repeat;
      cursor: pointer;
      left:-60px;
    }

    .nextArrow{
      background: url('assets/right_arrow.png') no-repeat;
      cursor: pointer;
      right:-60px;
    }
  }
  .slide1{
    h1{
      span{
        display: block;
        float: left;
        margin-right: .4em;
        opacity: 0;
      }
      span:nth-of-type(1){
         -webkit-animation:flipInY 800ms linear 0 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(2){
         -webkit-animation:flipInY 800ms linear 200ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(3){
         -webkit-animation:flipInX 800ms linear 800ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(4){
         -webkit-animation:flipInY 800ms linear 1000ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(5){
         -webkit-animation:flipInY 800ms linear 1400ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(6){
         -webkit-animation:flipInY 900ms linear 1400ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(7){
         -webkit-animation:flipInY 1000ms linear 1400ms 1;
         -webkit-animation-fill-mode: forwards;
      }
    }
  }

  .slide3 h1{
    text-align: center;
    margin: 0 auto .6em;
    float: none;
    width: 500px;
  }

  .slide3{
    text-align: center;
    padding-top: 160px;
    position: relative;

    .cat-icons{
      position: absolute;
      top: 1px;

      img{
        position:absolute;
        opacity: 0;
      }

      .icon1{
        top: 360px;
        left: 600px;
        -webkit-animation-delay: 1100ms;
      }
      .icon2{
        top: 300px;
        left: 750px;
        -webkit-animation-delay: 1500ms;
      }
      .icon3{
        top: 200px;
        left: 840px;
        -webkit-animation-delay: 900ms;

      }
      .icon4{
        top: 90px;
        left: 780px;
        -webkit-animation-delay: 400ms;
      }
      .icon5{
        top: 40px;
        left: 650px;
        -webkit-animation-delay: 1800ms;
      }
      .icon6{
        top: 20px;
        left: 540px;
        -webkit-animation-delay: 400ms;
      }
      .icon7{
        top: 20px;
        left: 390px;
        -webkit-animation-delay: 2000ms;
      }
      .icon8{
        top: 30px;
        left: 230px;
        -webkit-animation-delay: 600ms;
      }
      .icon9{
        top: 60px;
        left: 110px;
        -webkit-animation-delay: 1500ms;
      }
      .icon10{
        top: 130px;
        left: 5px;
        -webkit-animation-delay: 1400ms;
      }
      .icon11{
        top: 260px;
        left: 60px;
        -webkit-animation-delay: 1800ms;
      }
      .icon12{
        top: 300px;
        left: 190px;
        -webkit-animation-delay: 800ms;
      }
    }
  }// end .slide3

  a.explore{
    @include button;
    font-family: 'BarclaycardCoLtRegular', tahoma, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.8em !important;
    background-image: #f0f2f3;
    background-image: -webkit-linear-gradient(bottom right, rgb(224,228,231) 0%, rgb(255,255,255) 100%);
    position: relative;
    padding-left: 40px;
    text-align: left;
    width: 320px;
    @include box-shadow(3px 3px 4px (0, 0, 0, .6));
    span.icon{
      position: absolute;
      right: 50px;
      top: 12px;
      text-align: right;
      float: right;
    }
  }
  .slide3 .explore{
    margin: 0 auto;
    display: inline-block;
    float: none;
  }

  .slide1{
    background: url(assets/slide1bg.png) right top no-repeat;
    padding-top: 160px;
  }

  form{
    width: 340px;
    float: left;
    input,
    a.explore{
      font-family: 'BarclaycardCoLtRegular', tahoma, sans-serif;
      font-size: 1.5em;
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 1em;
      padding: .5em;
      color: $bc1 ;
    }
  }

  img.logo-grid{
    width: 400px !important;
    float: left;
    margin-top: 70px;
    margin-right: 20px;
  }
  .slide2 h1{
    margin-top: 130px;
  }

  .slide2 .explore{
    margin-left: 20px;
  }
}// end .v6

.v5{
  header{
  @include gradient($gd2, (top, lighten($bc2, 80%) 0%, lighten($bc2, 60%) 40%, lighten($bc2, 55%) 100%), $gd1_IE_alt);
  }
  h1{
    text-align: center;
    overflow: hidden;
    margin-left: 2em;
    span{
      display: block;
      float: left;
      margin-right: .4em;
      opacity: 0;
    }
    span:nth-of-type(1){
       -webkit-animation:flipInY 800ms linear 0 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(2){
       -webkit-animation:flipInY 800ms linear 200ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(3){
       -webkit-animation:flipInY 800ms linear 800ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(4){
       -webkit-animation:flipInY 800ms linear 1000ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(5){
       -webkit-animation:flipInY 800ms linear 1400ms 1;
       -webkit-animation-fill-mode: forwards;
    }
  }

  input,
  .search_btn{
    font-family: "BarclaycardCoLtRegular", tahoma, sans-serif;
    font-size: 1.4em !important;
  }

  .search_btn{
    font-size: 1.2em;
    padding: .2em 1em .3em 1em !important;
  }
  .featured_offer_rotator {
    height: 24em;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 42em;

    li {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
      cursor: pointer;
      height: 20em;
      width: 30em;
      text-align: center;
        
      &.roundabout-in-focus {
        cursor: default;
      }

      span {
        display: block;
        padding-top: 6em;
      }
      }
  }
  .gallery_nav{
    color:$bc1;
    display: block;
    font-size: 1.5em;
    height: 25px;
    margin: 0 auto;
    position: relative;
    margin-top: -40px;
    width: 590px;
    .prev_btn{
      float: left;
    }

    .next_btn,
    .prev_btn{
      cursor:pointer;
    }
    .next_btn{
    position: relative;
    float: right;
    padding-right: 30px
    }
  }
  .offer_search_wrapper{
    margin-bottom: 30px;
    text-align: center;
  }
  
  .offer_search{
    .keyword{
      width:30%;
    }
    
    .location{
      margin-right: 5px;
      width:20%;
    }
    
    .search_btn{
      
      .icon{
        position: relative;
        top: 3px;
        display: inline-block;
        left: 6px;
      }

      @extend %btn1;
    }
  }

  .bx-wrapper{
    margin: 80px 0 40px;
    .bx-pager.bx-default-pager a{
      background:$bc1;

      &.active{
      background: darken($bc1, 20%); 
      }
    }
    a{
    
      &.bx-prev{
        left: -45px;
        font-size: 1.3em;
      }

      &.bx-next{
        right: -25px;
        font-size: 1.3em;
      }
    }
  }
}

.v9{
  .oneByOne1,
  #banner .oneByOne_item{
    height: 410px;
  }
  .slide1{
    padding-top: 140px;
      h1{
        font-size: 2.4em;
        width: 430px;
      }
  }
  .slide2{
    h1{
      width: 100%;
      float: none;
      margin-top: 20px;
      text-align: center;
      margin-bottom: .5em;
    }
  }
  .slide3{
    padding-top: 0;
    position: relative;
    text-align: left;
    h1{
      margin-top: 20px;
      z-index: 3;
      text-align: left;
    }
    .explore{
      margin-left: 250px;
    }
    .london-sky{
      position: absolute;
      z-index: 1;
      bottom: -4px;
      left: 120px;
    }
    .london-eye{
      width: 270px;
      height: 270px;
      position: absolute;
      z-index: 4;
      bottom: 12px;
      right: 35px;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 40000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;

    }
  }
}


@-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }