@import 'fonts';
@import 'mixins';
@import 'variables';

//some global styles
body.consumer header .account_nav_content .user-links a{
  font-size: 1.2em;
}

body{
  min-width: 960px;
}

//let's try to get them to agree that the blue footer is ugly and help convince branding
body.consumer footer{
  background-image: white;
  background-image: -webkit-linear-gradient(top, rgb(220,227,231) 0%, rgb(255,255,255) 8%);  
  color: $bc2;
  a, h5, small{
    color: $bc2;
  }
  .footer_wrap div:nth-child(2),
  .footer_wrap div:nth-child(3){
    border-left: 1px solid darken($bc5, 10%);
  }
}
header{
  margin-bottom: 0;
  border-bottom: 0;
  .light &{
    border-bottom: 1px solid $border;
  }
}
#analog_analytics{
  width: 100%;
  padding: 0;
}

#slider{
  background-image: #1483c6;
  background-image: -webkit-linear-gradient(top, rgb(24,147,224) 0%, rgb(20,132,199) 50%, rgb(16,113,171) 100%);
  background-image: -moz-linear-gradient(top, rgb(24,147,224) 0%, rgb(20,132,199) 50%, rgb(16,113,171) 100%);  
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, .1);
  .content{
    padding:0px;
  }
  h1, h2{
    color: white;
  }
}

.buttonArea{
  z-index: 100;
  a.active{
    background: $bc1 !important;
  }
}

#slider.light{
  background: white;
  h1, h2{
    color: $bc1;
  }
}

h1, h2{
  font-family: 'BarclaycardCoLtRegular', tahoma, sans-serif; 
  font-weight: normal !important;
}

h2{
  font-size: 1.4em;
}

.v6, .v9, .v95{

  h1{
    color: white;
    font-size: 2.5em;
    line-height: 1.2;
    width: 430px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .oneByOne1{
    overflow:visible;
  }

  .slide1 h1,
  .slide2 h1{
    float: left;
  }
  .arrowButton{
    .prevArrow{
      background: url('assets/left_arrow.png') 2px center no-repeat;
      cursor: pointer;
      left:-60px;
    }

    .nextArrow{
      background: url('assets/right_arrow.png') 2px center no-repeat;
      cursor: pointer;
      right:-60px;
    }
  }

  .light .arrowButton .prevArrow{
    background: url('assets/left_arrow_blue.png') 2px center no-repeat;
  }
  .light .arrowButton .nextArrow{
    background: url('assets/right_arrow_blue.png') 2px center no-repeat;
  }
  .slide1{
    h1{
      span{
        display: block;
        float: left;
        margin-right: .4em;
        opacity: 0;
      }
      span:nth-of-type(1){
         -webkit-animation:flipInY 800ms linear 0 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(2){
         -webkit-animation:flipInY 800ms linear 200ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(3){
         -webkit-animation:flipInX 800ms linear 800ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(4){
         -webkit-animation:flipInY 800ms linear 1000ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(5){
         -webkit-animation:flipInY 800ms linear 1400ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(6){
         -webkit-animation:flipInY 900ms linear 1400ms 1;
         -webkit-animation-fill-mode: forwards;
      }
      span:nth-of-type(7){
         -webkit-animation:flipInY 1000ms linear 1400ms 1;
         -webkit-animation-fill-mode: forwards;
      }
    }
  }

  .slide3 h1{
    text-align: center;
    margin: 0 auto .6em;
    float: none;
    width: 500px;
  }

  .slide3{
    text-align: center;
    padding-top: 160px;
    position: relative;

    .cat-icons{
      position: absolute;
      top: 1px;

      img{
        position:absolute;
        opacity: 0;
      }

      .icon1{
        top: 360px;
        left: 600px;
        -webkit-animation-delay: 1100ms;
      }
      .icon2{
        top: 300px;
        left: 750px;
        -webkit-animation-delay: 1500ms;
      }
      .icon3{
        top: 200px;
        left: 840px;
        -webkit-animation-delay: 900ms;

      }
      .icon4{
        top: 90px;
        left: 780px;
        -webkit-animation-delay: 400ms;
      }
      .icon5{
        top: 40px;
        left: 650px;
        -webkit-animation-delay: 1800ms;
      }
      .icon6{
        top: 20px;
        left: 540px;
        -webkit-animation-delay: 400ms;
      }
      .icon7{
        top: 20px;
        left: 390px;
        -webkit-animation-delay: 2000ms;
      }
      .icon8{
        top: 30px;
        left: 230px;
        -webkit-animation-delay: 600ms;
      }
      .icon9{
        top: 60px;
        left: 110px;
        -webkit-animation-delay: 1500ms;
      }
      .icon10{
        top: 130px;
        left: 5px;
        -webkit-animation-delay: 1400ms;
      }
      .icon11{
        top: 260px;
        left: 60px;
        -webkit-animation-delay: 1800ms;
      }
      .icon12{
        top: 300px;
        left: 190px;
        -webkit-animation-delay: 800ms;
      }
    }
  }// end .slide3

  a.explore{
    @include button;
    @include transition(all);
    box-sizing: border-box;
    background-image: #e4e7e8;
    background-image: -webkit-linear-gradient(bottom right, rgb(201,206,209) 0%, rgb(255,255,255) 100%);
    display: inline-block;
    font-family: 'BarclaycardCoLtRegular', tahoma, sans-serif;
    font-size: 1.8em !important;
    padding-left: 40px !important;
    position: relative;
    text-align: left;
    width: 320px;
    @include box-shadow(2px 2px 6px rgba(0,0,0,.3));
    z-index: 20;
    span.icon{
      @include transition(all);
      position: absolute;
      right: 50px;
      top: 14px;
      text-align: right;
      float: right;
      &:hover{
        -webkit-transform: scale(1.1, 1.1) translateX(-8px);
      }
    }
    &:hover{
      @include box-shadow(0 0 8px rgba(255, 255, 255, .8));
    }
  }

  .light a.explore{
    @include gradient($bc1, $gd1, $gd1_IE);
    color: $btn_dk;
    
    &:hover{
        @include box-shadow((0 0 6px transparentize($bc1, .2), 0px 0px 5px rgba(0, 0, 0, .1) inset));
    }
  }
  .slide3 .explore{
    margin: 0 auto;
    display: inline-block;
    float: none;
  }

  .slide1{
    background: url(assets/slide1bg.png) right top no-repeat;
    padding-top: 160px;
  }

  form{
    width: 340px;
    float: left;
    input[type=text]{
      border: 1px solid $bc1;
    }
    input,
    a.explore{
      font-family: 'BarclaycardCoLtRegular', tahoma, sans-serif;
      font-size: 1.5em;
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 1em;
      padding: .5em;
      color: $bc1 ;
    }
  }

  img.logo-grid{
    width: 400px !important;
    float: left;
    margin-top: 70px;
    margin-right: 20px;
  }
  .slide2 h1{
    margin-top: 130px;
  }

  .slide2 .explore{
    margin-left: 20px;
  }
}// end .v6

.v5{
  header{
  @include gradient($gd2, (top, lighten($bc2, 80%) 0%, lighten($bc2, 60%) 40%, lighten($bc2, 55%) 100%), $gd1_IE_alt);
  }
  h1{
    text-align: center;
    overflow: hidden;
    margin-left: 2em;
    span{
      display: block;
      float: left;
      margin-right: .4em;
      opacity: 0;
    }
    span:nth-of-type(1){
       -webkit-animation:flipInY 800ms linear 0 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(2){
       -webkit-animation:flipInY 800ms linear 200ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(3){
       -webkit-animation:flipInY 800ms linear 800ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(4){
       -webkit-animation:flipInY 800ms linear 1000ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(5){
       -webkit-animation:flipInY 800ms linear 1400ms 1;
       -webkit-animation-fill-mode: forwards;
    }
  }

  input,
  .search_btn{
    font-family: "BarclaycardCoLtRegular", tahoma, sans-serif;
    font-size: 1.4em !important;
  }

  .search_btn{
    font-size: 1.2em;
    padding: .2em 1em .3em 1em !important;
  }
  .featured_offer_rotator {
    height: 24em;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 42em;

    li {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
      cursor: pointer;
      height: 20em;
      width: 30em;
      text-align: center;
        
      &.roundabout-in-focus {
        cursor: default;
      }

      span {
        display: block;
        padding-top: 6em;
      }
      }
  }
  .gallery_nav{
    color:$bc1;
    display: block;
    font-size: 1.5em;
    height: 25px;
    margin: 0 auto;
    position: relative;
    margin-top: -40px;
    width: 590px;
    .prev_btn{
      float: left;
    }

    .next_btn,
    .prev_btn{
      cursor:pointer;
    }
    .next_btn{
    position: relative;
    float: right;
    padding-right: 30px
    }
  }
  .offer_search_wrapper{
    margin-bottom: 30px;
    text-align: center;
  }
  
  .offer_search{
    .keyword{
      width:30%;
    }
    
    .location{
      margin-right: 5px;
      width:20%;
    }
    
    .search_btn{
      
      .icon{
        position: relative;
        top: 3px;
        display: inline-block;
        left: 6px;
      }

      @extend %btn1;
    }
  }

  .bx-wrapper{
    margin: 80px 0 40px;
    .bx-pager.bx-default-pager a{
      background:$bc1;

      &.active{
      background: darken($bc1, 20%); 
      }
    }
    a{
    
      &.bx-prev{
        left: -45px;
        font-size: 1.3em;
      }

      &.bx-next{
        right: -25px;
        font-size: 1.3em;
      }
    }
  }
}

.v9,
.v95{
  .oneByOne1,
  #banner .oneByOne_item{
    height: 410px;
  }
  .slide1{
    background: url(assets/burst_bg.png) top right no-repeat;
    padding-top: 140px;
    position: relative;
    h1{
      font-size: 2.4em;
      width: 450px;
    }

    form{
      z-index: 1;
      position: relative;
    }
    .bursty-logos{
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      height: 400px;
      width: 960px;
      z-index: 0;

      img{
        position: absolute;
      }

      .burst1{ //plug
        top: -15px;
        right: 190px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 400ms;
      }
      .burst2{ //masks
        top: -5px;
        right: 460px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 900ms;
      }
      .burst3{ //cart
        top: 60px;
        right: 0px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 300ms;

      }
      .burst4{ //food
        top:185px;
        right: 10px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 200ms;
      }
      .burst5{ //airplane
        top: -15px;
        right: 525px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 1200ms;
      }
      .burst6{ //rac logo
        top: 5px;
        right: 315px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 100ms;
      }
      .burst7{ //kids
        top: 80px;
        right: 275px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 1400ms;
      }
      .burst8{ //ba logo
        top: 55px;
        right: 160px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 500ms;
      }
      .burst9{ //boots logo
        top: 5px;
        right: 35px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 600ms;
      }
      .burst10{ //virgin logo
        top: 35px;
        right: 380px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 800ms;
      }
      .burst11{ //shell logo
        top: 105px;
        right: 5px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 1400ms;
      }
      .burst12{ //bottle
        top: 160px;
        right: 440px;
        -webkit-animation-duration: 400ms;
        -webkit-animation-delay: 400ms;
      }

      .brand_logo_1{
         @include rotate(-30deg,3);
         left:-5px;
         opacity: 0.7;
         position: relative;
         top:85px;
         img{
          width:70px;
        }
      }
      .brand_logo_2{
        @include rotate(10deg,3);
        left:5px;
        opacity: 0.9;
        position: relative;
        top:-35px;
        
        img{
          width:90px;
        }
      }
      .brand_logo_3{
        @include rotate(-18deg,3);
        left:-10px;
        opacity: 0.5;
        position: relative;
        top:140px;
        
        img{
          width:120px;
        }
      }

      .brand_logo_4{
        @include rotate(-12deg,3);
        left:-30px;
        opacity: 0.8;
        position: relative;
        top:20px;
        
        img{
          width:120px;
        }
      }

      .brand_logo_5{
        @include rotate(30deg,3);
        left:115px;
        opacity: 0.9;
        position: relative;
        top:-180px;
        
        img{
          width:80px;
        }
      }
    }
  }//end .slide1

  .slide5 h1,
  .slide2 h1,
  .slide4 h1,
  h1.fold_out{
    width: 100%;
    float: none;
    margin-top: 20px;
    margin-left: 120px;
    text-align: center;
    margin-bottom: .5em;
    overflow: hidden;
    span{
      display: block;
      float: left;
      margin-right: .4em;
      opacity: 0;
    }
    span:nth-of-type(1){
       -webkit-animation:flipInY 800ms linear 0 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(2){
       -webkit-animation:flipInY 800ms linear 200ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(3){
       -webkit-animation:flipInY 800ms linear 300ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(4){
       -webkit-animation:flipInY 800ms linear 400ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(5){
       -webkit-animation:flipInY 800ms linear 500ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(6){
       -webkit-animation:flipInY 800ms linear 600ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(7){
       -webkit-animation:flipInY 800ms linear 700ms 1;
       -webkit-animation-fill-mode: forwards;
    }
    span:nth-of-type(8){
       -webkit-animation:flipInY 800ms linear 800ms 1;
       -webkit-animation-fill-mode: forwards;
    }

  } //end .h1
  .slide3{
    padding-top: 0;
    position: relative;
    text-align: left;
    h1{
      margin-top: 20px;
      z-index: 3;
      text-align: left;
    }
    .explore{
      margin-left: 250px;
    }
    .london-sky{
      position: absolute;
      z-index: 1;
      bottom: -4px;
      left: 120px;
    }
    .london-eye{
      width: 270px;
      height: 270px;
      position: absolute;
      z-index: 4;
      bottom: 12px;
      right: 35px;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 40000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
    }
  }// end .slide3

  .slide4{
    text-align: center;
    .video-js{
      margin: 0 auto;
      text-align: center;
    }
    h1{
      font-size: 1.9em;
    }
  }
  .grid-offer{
    float: left;
    width: 33%;
  }

  .event{
    padding-top: 12px;
  }

} //end .v9, v95

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.signoff{
  padding-top: 0 !important;
}

//custom stuff for just v95
// .v96{
//   .hero_offer{
//     h1{
//       margin-left: 256px;
//     }
//   }
//}

//emergency copy change styles
.v96 .slide1 h1{
  font-size: 2.7em;
}

//styles for v9.7
.v97{
  .hero_offer,
  .three_offer_pane{
    h1{
      margin-left: 195px;
    }
  }
  .info_pane{
    h1{
      margin-left: 190px;
      margin-bottom: 0;
    }
    h2{
      margin-bottom: .2em;
    }
  }
}

.v99{
  form{
    float: right;
    padding-right: 55px;
  }
.slide1{
  padding-top: 40px;
  .headline{
    display: block;
    overflow: hidden;
    text-align: center;
    width:100%;
    h1{
      float:none;
      width: 100%;
      span{
        display: inline-block;
        float:none;
      }
    }
  }
}

}